@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --dgray-text: #3A3A3A;
    --theme-1: #EB7777;
    --theme-2: #8688BC;
    --theme-green: #2E8B57;
    --theme-red: #FC5185;
    --theme-dark-red: #d92e64;
    --theme-gray: #979797;
    --theme-dark-gray: #383838;
    --theme-purple: #8688BC;
    --theme-dark-purple: #404086;
    --theme-d-green: #08b09a;
    --theme-dd-green: #0b9186;
}

html {
    height: 100%;
    overflow: hidden;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.page-body {
    display: flex;
    margin: 0;
    min-height: 0;
    height: 100vh;
}

body {
    margin: 0;
    background-image: linear-gradient(to bottom right, rgba(249, 229, 232, 0.3), rgba(151, 225, 212, 0.3), rgba(98, 132, 255, 0.3), rgba(255, 114, 182, 0.3));
    font-family: 'Comfortaa', cursive;
    height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button-icon {
    cursor: pointer;
    color: var(--dgray-text)
}

spaced-horizontal-preferred {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

right-pane {
    width: 100%;
    padding: 17px;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.mobile-full-width {

}

.focus--shadow {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.15), 0 17px 50px 0 rgba(0, 0, 0, 0.12);
}


.avatar__container {
    box-sizing: border-box;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 25px 45px;
}

.avatar__container img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.input__container{
    width: 100%;
    box-sizing: border-box;
}

.input__box {
    font-family: Roboto, serif;
    font-weight: 500;
    border: 2px solid black;
    border-radius: 8px;
    padding: 18px 20px;
    margin: 7px;
    width: 100%;
    box-sizing: border-box;
}

.flex-column{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: auto;
}

.full-width {
    width: 100%;
}

.overflow{
    overflow: auto;
}

@media (max-width: 900px) {
    spaced-horizontal-preferred {
        flex-direction: column;
        align-items: center;
    }

    .mobile-full-width {
        width: 90%;
    }
}